---
import Footer from "@components/Footer.astro";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <article>
      <h1 class="mb-10">About</h1>

      <section id="who-am-i">
        <h2>Who Am I?</h2>
        <p>
          I'm a dad of two who enjoys video games, coding, and technology. I've
          worked in tech support for the last five years and have been in some
          form of customer service my entire teenage and adult life. It's time
          for a change. I am actively trying to break into the field of
          cybersecurity and land a job in the field.
        </p>
      </section>

      <section id="where-to-start">
        <h2>Where to Start</h2>
        <p>
          Feel free to poke around <a href="/blog">the blog</a> for all the blog
          posts (that's why you're here isn't it?). Each post has tags under the
          title to find similar posts. There is also a search feature that you can
          use to find different posts.
        </p>
      </section>

      <section id="socials">
        <h2>Socials</h2>
        <p>Want to connect? You can find me on:</p>
        <ul>
          <li>
            <a href="https://linkedin.com/in/nconklin" target="_blank">
              LinkedIn
            </a>
          </li>
          <li>
            <a href="https://github.com/0niSec" target="_blank"> Github </a>
          </li>
        </ul>
        <p class="mt-4">Want to see how I'm doing on Hack the Box?</p>
        <ul>
          <li>
            <a
              href="https://app.hackthebox.com/profile/1940106"
              target="_blank"
            >
              Hack the Box
            </a>
          </li>
        </ul>
      </section>
    </article>
    <Footer />
  </body>
</html>

<style>
  p {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h2:last-of-type(p) {
    margin-bottom: 1rem;
  }
</style>
