---
function getCurrentYear() {
  return new Date().getFullYear();
}
---

<footer
  class="container px-4 md:px-0 max-w-5xl text-sm py-10 flex flex-col items-center justify-center"
>
  <p class="text-xs text-neutral-200/25">
    0niSec Blog &copy; 2024-{getCurrentYear}.
  </p>
  <a
    href="/privacy-policy"
    class="mt-4 text-accent-primary hover:text-neutral-200"
  >
    Privacy Policy
  </a>
</footer>
